<div class="credentials">
  <form action="/login" method="post">
    <div>
      <label for="username">Username:
        <input name="username" id="username" value="<%= params[:username]%>"/>
      </label>
    </div>
    <div>
      <label for="password">Password:
        <input name="password" id="password" type="password"/>
      </label>
    </div>
    <button class="enter" type="submit">Login</button>
  </form>
  
  <form action="/signup" method="get">
    <button class="enter" type="submit">Signup</button>
  </form>
</div>