<form action="/training_log/<%= new_workouts_page_num %>/workouts/new_workout_id" method="post">
  <div>
    <label for="workout_name">Workout Name:
      <input name="workout_name" id="workout_name" value="Push Day, Pull Day, etc."/>
    </label>
  </div>
  <div>
    <label for="workout_date">Date Workout Was Completed:
      <input type="date" id="workout_date" name="workout_date"
             value="2022-05-16" min="2018-01-01" max="2050-12-31"/>
    </label>
  </div>
  <button type="submit">Log Workout</button>
</form>

<form action="/training_log/<%= @page_number %>/workouts" method="get">
  <button type="submit">Cancel</button>
</form>
