td {
  text-align: center;
}

.tbl_column_titles {
  font-style: italic;
  font-weight: bold;
}

ul:before{
  content:attr(aria-label);
  font-weight:bold;
}

.same_row {
  float: left;
  padding: 35px;
}

#flash {
  width: 100%;
  float: left;
  background: #CCCCFF;
}